<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>HelloMeets Job Board - Candidate Profile</title>

    <style>
        body {
            color: #3d3d3d;
            font-family: 'Open Sans', sans-serif;
        }

        #alert-area {
            margin-top: 70px;
        }

        .main-heading {
            margin-top: 100px;
            text-align: center;
        }

        .main-heading-small {
            text-align: center;
            font-size: 12px;
        }

        .social-signup-button {
            margin: 10px;
            text-align: center;
        }

        .social-signup-button-center {
            margin-top: 10px;
            text-align: center;
        }

        .profile-list {
            margin-bottom: 10px;
        }

        .candidate-profile-info {
            text-align: center;
            font-size: 12px;
        }

    </style>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">HelloMeets - Job Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../settings/">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../logout/">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">

    <div id="alert-area"></div>

    <div class="container main-heading">
        <h3>Hello {{ request.user.first_name }}! Check your profile.</h3>
        <p class="candidate-profile-info">
            Please keep your profile updated so that you can see best jobs available in our network.
            <br />
            If you want to update your profile, <a href="../onboard/?page=1">click here</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!--
            <div class="container social-signup-button">
                <button type="button" class="btn btn-outline-primary">Google Signup</button>
            </div>
            <div class="container social-signup-button">
                <button type="button" class="btn btn-outline-primary">Linkedin Signup</button>
            </div> -->

            <hr/>

            <div class="container">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Your Job Preferences</h5>
                        <p class="card-text">
                            <ul>
                                <li class="profile-list">
                                    Currently located in: <b id="current_location"></b>
                                </li>
                                <li class="profile-list">
                                    Willing to work in: <b id="interested_location"></b>
                                </li>
                                <li class="profile-list">
                                    Current role: <b id="primary_role"></b>
                                </li>
                                <li class="profile-list">
                                    Your skills: <b id="skills"></b>
                                </li>
                                <li class="profile-list">
                                    Interested in remote working: <b id="remote_working_status"></b>
                                </li>
                                <li class="profile-list">
                                    Uploaded resume: <b id="resume"></b>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-3"></div>

    </div>


</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>


<script type="text/javascript">

    $(document).ready(function () {

        console.log('this page is working!');

        $.get('../api/v1/get_user_profile_data/', function(data){

            let profile_data = data;

            $('#current_location').text(profile_data.current_location_value);

            profile_data.candidate_interested_cities.forEach(function(city){
                $('#interested_location').append(city+', ')
            });

            $('#primary_role').text(profile_data.candidate_job_title);

            profile_data.candidate_skill_ids.forEach(function(skill_id){
                $.get('../api/v1/get_skill_name_id/?skill_id='+skill_id, function(skill_name_json){

                    $('#skills').append(skill_name_json.skill_name+', ')

                })
            });

            if(profile_data.remote_working_status === true){
                $('#remote_working_status').text('Yes')
            }

            if(profile_data.remote_working_status === false){
                $('#remote_working_status').text('No')
            }

            $('#resume').html(
                '<a href="' + profile_data.candidate_resume_url + '">link</a>'
            )

        })

    })

</script>


</body>
</html>